body {
  color: black;
    font-family: 'Georgia';
}

.header {
  text-align: center;
}

div.social{
    text-align: center;
}
div.social a{
    padding: 10px 12px;
    border-radius: 3px;
    font-size: 20px;
    color: white;
    display: inline-block;
    margin-bottom: 10px;
}
div.social a:hover{
    opacity: 0.8;
}

.github{
    background: #FFFFFF;
}

.twitter{
    background: #00acee;
}
.linkedin{
    background: #0e76a8;
}
