/* Universal Styles */
html {
  font-size: 16px;
  font-family: 'EB Garamond', serif;
}

/*
.center {
    text-align: center;
}
*/

.aboutme {
  padding-left: 350px;
  padding-top: 0px;
}


h1 {
  padding-top: 80px;
  padding: 10px;
  font-size: 20px;
  text-align: center;
}

h2 {
  padding: 20px;
  font-size: 18px;
  text-align: left;
}


a {
  text-decoration: none;
}

/*
p {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  text-align: left;

}
*/



.headshot {
  /*padding-top: 100px;*/
  float: left;
  padding-left: 50px;
  width:200;
}

/*
.headshot img {
    display: block;
    margin: 0 auto;
}

.contact {
    text-align: left;
    font-size: 13px;
}
*/


/* Header */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 0;
  background-color: #fff;
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 50px !important;

}

.header li {
  display: inline-block;
  padding: 10px;
}

.header a {
  color: #4A4A4A;
}


div.social{
    text-align: center;
    padding-top: 100px;
}
div.social a{
    padding: 10px 12px;
    border-radius: 3px;
    font-size: 20px;
    color: white;
    display: inline-block;
    margin-bottom: 10px;
}
div.social a:hover{
    opacity: 0.8;
}

.github {
    background: #4A4A4A;
}

.twitter{
    background: #00acee;
}
.linkedin{
    background: #0e76a8;
}
