/* Universal Styles */
html {
  font-size: 16px;
  font-family: Garamond;
}

h1 {
  padding: 20px;
  font-size: 28px;
  text-align: center;
}

h2 {
  padding: 20px;
  font-size: 24px;
  text-align: left;
  max-width: 900px;
}

a {
  text-decoration: none;
}

p {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;

}

.headshot {
  text-align: center;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 0;
  background-color: #fff;
  font-size: 16px;
  opacity: 0.8;
  margin-bottom: 20px;

}

.header li {
  display: inline-block;
  padding: 10px;
}

.header a {
  color: #4A4A4A;
}


div.social{
    text-align: center;
}
div.social a{
    padding: 10px 12px;
    border-radius: 3px;
    font-size: 20px;
    color: white;
    display: inline-block;
    margin-bottom: 10px;
}
div.social a:hover{
    opacity: 0.8;
}

.github {
    background: #4A4A4A;
}

.twitter{
    background: #00acee;
}
.linkedin{
    background: #0e76a8;
}
